<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="contabilidad.Properties.Settings.conta_bdConnectionString"
            connectionString="server=localhost;User Id=root;password=root;database=conta_bd"
            providerName="MySql.Data.MySqlClient" />
        <add name="contabilidad.Properties.Settings.conta_bdConnectionString1"
            connectionString="server=localhost;User Id=root;password=root;database=conta_bd;Persist Security Info=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>